.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar-class{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #011f3d;
    font-size: 36px;
}
.project-name {
    float: left;
    color: #D1DDE9;
    text-align: center;
    padding: 14px 16px;
    margin-left: 40px;
    text-decoration: none;
}
.profile-name {
    float: right;
    color: #D1DDE9;
    text-align: center;
    padding: 14px 16px;
    margin-right: 50px;
    text-decoration: none;
    text-transform: capitalize;
}

.start-button {
    background-color: #008CBA;
    border-radius: 12px;
    width: 60%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin-top: 4px;
    margin-left: -30px;
    cursor: pointer;
}
.reset-button {
    background-color: darkred;
    border-radius: 12px;
    width: 50%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: -50px;
    cursor: pointer;
}
.input-field {
    border-color: #003366;
    border-radius: 12px;
    width: 80%;
    color: black;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin-top: 4px;
    margin-left: -90px;
}
.counter {
    font-size: 52px;
    padding: 0 30px;
    width: 70%;
    margin-left: -30px;
}
.text-box {
  position: fixed;
  background-color: #D1DDE9;
  width: 70%;
  height: 76%;
  border: 15px solid #003366;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
}
.header-row {
  border:2px solid #003366;
  margin-bottom: 10px;
}
.header-row:after {
  content: "";
  display: table;
  clear: both;
}
.header-column {
  float: left;
  width: 30%;
  padding: 1px;
}
.result-box {
    position: fixed;
    background-color: #D1DDE9;
    width: 19%;
    border: 13px solid #003366;
    padding: 5px;
    margin-left: 76%;
    margin-top: 20px;
}
.result-header {
    border-bottom: 3px solid #003366;
}
.avg-result-box {
    position: fixed;
    background-color: #D1DDE9;
    width: 19%;
    height: 19%;
    border: 13px solid #003366;
    padding: 5px;
    margin-left: 76%;
    margin-top: 29%;
}
.column {
  float: left;
  width: 40%;
  padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.sideNavBtn button{
    position: fixed;
    right: -50px;
    transition: 0.5s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 55px;
}

.sideNavBtn button:hover {
    right: 0;
}

.full-stat-button {
    top: 20px;
    background-color: #008CBA;
}
.sidebar {
    margin-top: 90px;
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 0;
    background-color: #97b1cc;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 80px;
    border: 3px solid #011f3d;
}
.sidebar p {
    text-align: center;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    text-transform: capitalize;
    max-width: 100px;
}
.sidebar h2 {
    border-bottom: 3px solid black;
}

.sidebar button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    background: #003366;
}
.sidebar-column {
    float: left;
    padding: 12px;
}
/* Clear floats after the columns */
.sidebar-row:after {
    content: "";
    display: table;
    clear: both;
}
.App-link {
  color: #61dafb;
}
.correct-word{
  background-color: green;
}
.incorrect-word{
  background-color: red;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal {
    z-index: 100;
    background: #D1DDE9;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
    font-size: 34px;
    text-align: center;
}
.modal-input-field{
    width: 100%;
    padding: 16px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #003366;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 24px;
    text-transform: capitalize;
}
.modal-button {
    width: 100%;
    background-color: #003366;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 1400px) {
    .text-box {
        position: fixed;
        background-color: #D1DDE9;
        width: 70%;
        height: 83%;
        border: 15px solid #003366;
        padding: 10px;
        margin: 20px;
        font-size: 30px;
    }
    .result-box {
        position: fixed;
        background-color: #D1DDE9;
        width: 22%;
        height: 60%;
        border: 13px solid #003366;
        padding: 5px;
        margin-left: 75%;
        margin-top: 20px;
        font-size: 30px;
    }
    .avg-result-box {
        position: fixed;
        background-color: #D1DDE9;
        width: 22%;
        height: 19.5%;
        border: 13px solid #003366;
        padding: 5px;
        margin-left: 75%;
        margin-top: 34%;
        font-size: 28px;
    }
    .sideNavBtn button{
        position: fixed;
        right: -80px;
        transition: 0.5s;
        padding: 15px;
        width: 130px;
        text-decoration: none;
        font-size: 30px;
        color: white;
        border-radius: 55px;
    }
    .sidebar {
        font-size: 30px;
    }
    .sidebar p{
        font-size: 35px;
        padding: 32px 32px 32px 32px;
        max-width: 250px;
    }
    .sidebar-column {
        float: left;
        padding: 30px;
    }
    #graph {
        margin-top: 50px;
    }
}